# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
glsandbox/.vs/GLSandbox/v16/.suo
glsandbox/.vs/GLSandbox/v16/Browse.VC.db
glsandbox/.vs/GLSandbox/v16/Browse.VC.opendb
glsandbox/.vs/GLSandbox/v16/ipch/AutoPCH/a7ee6d07ffec2cf0/MAIN.ipch
